.title-component-div {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 430px) {
    .title-div {
        font-size: 10vw;
        font-weight: 1000;
        margin-top: -18vh;
        position: absolute;
        z-index: -1;
        width: 100vw;
    }

    .second-title-div {
        font-size: 4vw;
        margin-top: -4vh;
        margin-bottom: 4vh;
        font-weight: 200;
        width: 100vw;
    }

    .cover-div {
        margin-top: -5vw;
        justify-self: flex-end;
        height: 10vw;
        width: 90vw;
        background: linear-gradient(
            to bottom,
            #00000000 20%,
            #000000 60%
        );
    }
}

@media screen and (min-width: 430px) and (max-width: 1120px) {
    .title-div {
        font-size: 8.5vw;
        font-weight: 1000;
        margin-top: -20vh;
        position: absolute;
        z-index: -1;
        width: 100vw;
    }

    .second-title-div {
        font-size: 3vw;
        margin-top: -4vh;
        margin-bottom: 4vh;
        font-weight: 200;
        width: 100vw;
    }

    .cover-div {
        justify-self: flex-end;
        height: 10vw;
        margin-top: -5vw;
        width: 90vw;
        background: linear-gradient(
            to bottom,
            #00000000 20%,
            #000000 60%
        );
    }
}

@media screen and (min-width: 1120px) {
    .title-div {
        font-size: 7vw;
        font-weight: 1000;
        margin-top: -14vh;
        position: absolute;
        z-index: -1;
        width: 100vw;
    }

    .second-title-div {
        font-size: 2vw;
        margin-top: -4vh;
        margin-bottom: 4vh;
        font-weight: 200;
        width: 100vw;
    }

    .cover-div {
        justify-self: flex-end;
        height: 5vw;
        width: 90vw;
        background: linear-gradient(
            to bottom,
            #00000000 20%,
            #000000 60%
        );
    }
}

.title-p {
    background: linear-gradient(
        to right,
        #9b21e2 20%,
        #5f0692 30%,
        #110dfa 70%,
        #3330e0 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}